#app {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.video-element-controls {
  width: 100%;
}
